{% extends 'base.html' %}
{% load static %}

{% block content %}
<div
class=qodef-content style="margin-top: -75px"><div
class=qodef-content-inner><div
class="qodef-title-holder qodef-centered-type qodef-title-va-window-top qodef-preload-background qodef-has-bg-image qodef-bg-parallax" style="height: 660px;background-color: #ffffff;background-image:url("{% static '2020/04/get-touch.jpg' %}");" data-height=660><div
class=qodef-title-image>
<img
class=lazy itemprop=image src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E" data-src=https:"{% static '2020/04/get-touch.jpg' %}" alt="Image Alt"></div><div
class=qodef-title-wrapper ><div
class=qodef-title-inner><div
class=qodef-grid><h1 class="qodef-page-title entry-title" style="color: #a5875d">WANT TO KNOW MORE?</h1></div></div></div></div><div
class=qodef-full-width><div
class=qodef-full-width-inner><div
class=qodef-grid-row><div
class="qodef-page-content-holder qodef-grid-col-12"><div
class="qodef-row-grid-section-wrapper "  ><div
class=qodef-row-grid-section><div
class="vc_row wpb_row vc_row-fluid mobhidplz wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1585720460428" ><div
class="wpb_column vc_column_container vc_col-sm-2"><div
class=vc_column-inner><div
class=wpb_wrapper><div
class=vc_empty_space   style="height: 32px"><span
class=vc_empty_space_inner></span></div></div></div></div><div
class="wpb_column vc_column_container vc_col-sm-8"><div
class=vc_column-inner><div
class=wpb_wrapper><div
class="qodef-section-title-holder   qodef-st-standard" ><div
class=qodef-st-inner><h2 class="qodef-st-title" >
Let’s work! Contact us</h2></div></div><div
class="wpb_text_column wpb_content_element " ><div
class=wpb_wrapper><p>Let’s shape your future with a beautiful and unique digital marketing strategy. Allow Kingsmen to pour its experience into your business!</p></div></div></div></div></div><div
class="wpb_column vc_column_container vc_col-sm-2"><div
class=vc_column-inner><div
class=wpb_wrapper><div
class=vc_empty_space   style="height: 32px"><span
class=vc_empty_space_inner></span></div></div></div></div></div></div></div><div
class="qodef-row-grid-section-wrapper "  ><div
class=qodef-row-grid-section><div
class="vc_row wpb_row vc_row-fluid mobhidplz wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1585720467159" ><div
class="wpb_column vc_column_container vc_col-sm-2"><div
class=vc_column-inner><div
class=wpb_wrapper><div
class=vc_empty_space   style="height: 32px"><span
class=vc_empty_space_inner></span></div></div></div></div><div
class="wpb_column vc_column_container vc_col-sm-8"><div
class=vc_column-inner><div
class=wpb_wrapper><div
role=form class=wpcf7 id=wpcf7-f2279-p3006-o20 lang=en-US dir=ltr><div
class=screen-reader-response aria-live=polite></div><form
action=/get-in-touch-2/#wpcf7-f2279-p3006-o20 method=post class="wpcf7-form cf7_custom_style_2" novalidate=novalidate><div
style="display: none;">
<input
type=hidden name=_wpcf7 value=2279>
<input
type=hidden name=_wpcf7_version value=5.1.9>
<input
type=hidden name=_wpcf7_locale value=en_US>
<input
type=hidden name=_wpcf7_unit_tag value=wpcf7-f2279-p3006-o20>
<input
type=hidden name=_wpcf7_container_post value=3006></div><p><span
class="wpcf7-form-control-wrap your-name"><input
type=text name=your-name value size=40 class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required=true aria-invalid=false placeholder=Name*></span><br>
<span
class="wpcf7-form-control-wrap your-email"><input
type=email name=your-email value size=40 class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required=true aria-invalid=false placeholder=Email*></span><br>
<span
class="wpcf7-form-control-wrap your-mobile"><input
type=text name=your-mobile value size=40 class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required=true aria-invalid=false placeholder="Mobile Number*"></span><br>
<span
class="wpcf7-form-control-wrap menu-904"><select
name=menu-904 class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required=true aria-invalid=false><option
value="Choose the required service?">Choose the required service?</option><option
value=Branding>Branding</option><option
value="Web Solutions">Web Solutions</option><option
value="Paid Advertising">Paid Advertising</option><option
value="Video Production">Video Production</option><option
value="Social Media Management">Social Media Management</option><option
value="Content Creation">Content Creation</option></select></span><br>
<span
class="wpcf7-form-control-wrap your-company"><input
type=text name=your-company value size=40 class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required=true aria-invalid=false placeholder="Company Name*"></span><br>
<span
class="wpcf7-form-control-wrap your-brief"><textarea name=your-brief cols=40 rows=10 class="wpcf7-form-control wpcf7-textarea" aria-invalid=false placeholder="Project Brief"></textarea></span><br>
<button
type=submit class="wpcf7-form-control wpcf7-submit qodef-btn qodef-btn-medium qodef-btn-solid"><span
class=qodef-btn-text>Send</span></button></p>
<input
type=hidden class=wpcf7-pum value='{"closepopup":false,"closedelay":0,"openpopup":false,"openpopup_id":0}'><div
class="wpcf7-response-output wpcf7-display-none" aria-hidden=true></div></form></div></div></div></div><div
class="wpb_column vc_column_container vc_col-sm-2"><div
class=vc_column-inner><div
class=wpb_wrapper><div
class=vc_empty_space   style="height: 32px"><span
class=vc_empty_space_inner></span></div></div></div></div></div></div></div><div
class="vc_row wpb_row vc_row-fluid mobhidplz wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1586246973412" ><div
class="wpb_column vc_column_container vc_col-sm-12"><div
class=vc_column-inner><div
class=wpb_wrapper><div
class="wpb_gmaps_widget wpb_content_element"><div
class=wpb_wrapper><div
class=wpb_map_wraper><iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57776.43802058835!2d55.234661955278085!3d25.16855345122793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f691f7f045029%3A0x808d8e3cc52c1558!2skingsmen%20Agency!5e0!3m2!1sen!2seg!4v1586247035317!5m2!1sen!2seg" width=600 height=450 frameborder=0 style=border:0; allowfullscreen aria-hidden=false tabindex=0></iframe></div></div></div></div></div></div></div><div
class="qodef-row-grid-section-wrapper "  ><div
class=qodef-row-grid-section><div
class="vc_row wpb_row vc_row-fluid mobshowplz wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1585720513788" ><div
class="wpb_column vc_column_container vc_col-sm-12"><div
class=vc_column-inner><div
class=wpb_wrapper><div
class="qodef-section-title-holder   qodef-st-standard" ><div
class=qodef-st-inner><h2 class="qodef-st-title" >
Let’s work! Contact us</h2></div></div><div
class="wpb_text_column wpb_content_element " ><div
class=wpb_wrapper><p>Let’s shape your future with a beautiful and unique digital marketing strategy. Allow Kingsmen to pour its experience in your benefit!</p></div></div></div></div></div></div></div></div><div
class="qodef-row-grid-section-wrapper "  ><div
class=qodef-row-grid-section><div
class="vc_row wpb_row vc_row-fluid mobshowplz wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1586246628512" ><div
class="wpb_column vc_column_container vc_col-sm-12"><div
class=vc_column-inner><div
class=wpb_wrapper><div
role=form class=wpcf7 id=wpcf7-f2279-p3006-o21 lang=en-US dir=ltr><div
class=screen-reader-response aria-live=polite></div><form
action=/get-in-touch-2/#wpcf7-f2279-p3006-o21 method=post class="wpcf7-form cf7_custom_style_2" novalidate=novalidate><div
style="display: none;">
<input
type=hidden name=_wpcf7 value=2279>
<input
type=hidden name=_wpcf7_version value=5.1.9>
<input
type=hidden name=_wpcf7_locale value=en_US>
<input
type=hidden name=_wpcf7_unit_tag value=wpcf7-f2279-p3006-o21>
<input
type=hidden name=_wpcf7_container_post value=3006></div><p><span
class="wpcf7-form-control-wrap your-name"><input
type=text name=your-name value size=40 class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required=true aria-invalid=false placeholder=Name*></span><br>
<span
class="wpcf7-form-control-wrap your-email"><input
type=email name=your-email value size=40 class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required=true aria-invalid=false placeholder=Email*></span><br>
<span
class="wpcf7-form-control-wrap your-mobile"><input
type=text name=your-mobile value size=40 class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required=true aria-invalid=false placeholder="Mobile Number*"></span><br>
<span
class="wpcf7-form-control-wrap menu-904"><select
name=menu-904 class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required=true aria-invalid=false><option
value="Choose the required service?">Choose the required service?</option><option
value=Branding>Branding</option><option
value="Web Solutions">Web Solutions</option><option
value="Paid Advertising">Paid Advertising</option><option
value="Video Production">Video Production</option><option
value="Social Media Management">Social Media Management</option><option
value="Content Creation">Content Creation</option></select></span><br>
<span
class="wpcf7-form-control-wrap your-company"><input
type=text name=your-company value size=40 class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required=true aria-invalid=false placeholder="Company Name*"></span><br>
<span
class="wpcf7-form-control-wrap your-brief"><textarea name=your-brief cols=40 rows=10 class="wpcf7-form-control wpcf7-textarea" aria-invalid=false placeholder="Project Brief"></textarea></span><br>
<button
type=submit class="wpcf7-form-control wpcf7-submit qodef-btn qodef-btn-medium qodef-btn-solid"><span
class=qodef-btn-text>Send</span></button></p>
<input
type=hidden class=wpcf7-pum value='{"closepopup":false,"closedelay":0,"openpopup":false,"openpopup_id":0}'><div
class="wpcf7-response-output wpcf7-display-none" aria-hidden=true></div></form></div></div></div></div></div></div></div><div
class="vc_row wpb_row vc_row-fluid mobshowplz wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1586247332081" ><div
class="wpb_column vc_column_container vc_col-sm-12"><div
class=vc_column-inner><div
class=wpb_wrapper><div
class="wpb_gmaps_widget wpb_content_element"><div
class=wpb_wrapper><div
class=wpb_map_wraper><iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57776.43802058835!2d55.234661955278085!3d25.16855345122793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f691f7f045029%3A0x808d8e3cc52c1558!2skingsmen%20Agency!5e0!3m2!1sen!2seg!4v1586247035317!5m2!1sen!2seg" width=600 height=450 frameborder=0 style=border:0; allowfullscreen aria-hidden=false tabindex=0></iframe></div></div></div></div></div></div></div></div></div></div></div></div></div>
{% endblock content %}