{% extends 'base.html' %}
{% load static %}

{% block content %}
<div
class=qodef-content style="margin-top: -75px"><div
class=qodef-content-inner><div
class="qodef-title-holder qodef-centered-type qodef-title-va-window-top qodef-preload-background qodef-has-bg-image qodef-bg-parallax" style="height: 660px;background-color: #ffffff;background-image:url({% static '2020/05/profile.jpg' %});" data-height=660><div
class=qodef-title-image>
<img
class=lazy itemprop=image src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E" data-src="{% static '2020/05/profile.jpg' %}" alt="Image Alt"></div><div
class=qodef-title-wrapper ><div
class=qodef-title-inner><div
class=qodef-grid><h1 class="qodef-page-title entry-title" style="color: #a5875d">Careers</h1></div></div></div></div><div
class="qodef-container qodef-default-page-template careers"><div
class="qodef-container-inner clearfix "><div
class=qodef-grid-row><div
class=row><div
class=vc_col-md-12><div
class="heading text-center"><h3>Recent Jobs</h3><hr></div></div></div><div
class=clearfix></div><div
class=row><div
class=vc_col-md-12><div
class=job><div
class=vc_col-md-9><h3><a
href=https://www.kingsmenagency.com/careers/devops/ >DevOps</a></h3></div><div
class=vc_col-md-3>
<a
href=https://www.kingsmenagency.com/careers/devops/ class="qodef-btn qodef-btn-small qodef-btn-solid btn-career">Job details</a></div></div></div><div
class=vc_col-md-12><div
class=job><div
class=vc_col-md-9><h3><a
href=https://www.kingsmenagency.com/careers/front-end-web-developer-website/ >Front-end web developer (website)</a></h3></div><div
class=vc_col-md-3>
<a
href=https://www.kingsmenagency.com/careers/front-end-web-developer-website/ class="qodef-btn qodef-btn-small qodef-btn-solid btn-career">Job details</a></div></div></div><div
class=vc_col-md-12><div
class=job><div
class=vc_col-md-9><h3><a
href=https://www.kingsmenagency.com/careers/back-end-web-developer-backend/ >Back-end web developer (Backend)</a></h3></div><div
class=vc_col-md-3>
<a
href=https://www.kingsmenagency.com/careers/back-end-web-developer-backend/ class="qodef-btn qodef-btn-small qodef-btn-solid btn-career">Job details</a></div></div></div><div
class=vc_col-md-12><div
class=job><div
class=vc_col-md-9><h3><a
href=https://www.kingsmenagency.com/careers/seo-specialist/ >SEO Specialist</a></h3></div><div
class=vc_col-md-3>
<a
href=https://www.kingsmenagency.com/careers/seo-specialist/ class="qodef-btn qodef-btn-small qodef-btn-solid btn-career">Job details</a></div></div></div></div></div></div></div></div></div>
{% endblock content %}