{% extends 'base.html' %} {% block content %} {% load static %} {% load static
%}

<div class="qodef-content" style="margin-top: -75px;">
  <div class="qodef-content-inner">
    <div
      class="qodef-title-holder qodef-centered-type qodef-title-va-window-top qodef-preload-background qodef-has-bg-image qodef-bg-parallax"
      style="
        height: 660px;
        background-color: #ffffff;
        background-image: url("{% static '2020/04/packeges-2-3.jpg' %}");
      "
      data-height="660"
    >
      <div class="qodef-title-image">
        <img
          class="lazy"
          itemprop="image"
          src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E"
          data-src="{% static '2020/04/packeges-2-3.jpg' %}"
          alt="Image Alt"
        />
      </div>
      <div class="qodef-title-wrapper">
        <div class="qodef-title-inner">
          <div class="qodef-grid">
            <h1 class="qodef-page-title entry-title" style="color: #a5875d;">
              Improve your business
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="qodef-full-width">
      <div class="qodef-full-width-inner">
        <div class="qodef-grid-row">
          <div class="qodef-page-content-holder qodef-grid-col-12">
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div
                  class="vc_row wpb_row vc_row-fluid vc_custom_1585639867161"
                >
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h2 class="qodef-st-title">
                              SOCIAL MEDIA
                              <span class="qodef-st-title-emphasize"
                                ><span>PACKAGES</span
                                ><span>PACKAGES</span></span
                              >
                            </h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div
                  class="vc_row wpb_row vc_row-fluid bordersection vc_custom_1591700470545 vc_row-has-fill"
                >
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802684196">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 1
                            </h3>
                            <p class="qodef-st-text">
                              4500 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>
                              Dedicated account manager<br />
                              No setup fees<br />
                              7 days a week<br />
                              Monthly reports<br />
                              2 social media platforms<br />
                              Content creation<br />
                              12 posts
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802689094">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 2
                            </h3>
                            <p class="qodef-st-text">
                              6500 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>
                              Dedicated account manager<br />
                              No setup fees<br />
                              7 days a week<br />
                              Monthly reports<br />
                              3 social media platforms<br />
                              Content creation<br />
                              Content calendar<br />
                              Social media strategy<br />
                              16 posts
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802694651">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 3
                            </h3>
                            <p class="qodef-st-text">
                              8000 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>
                              Dedicated account manager.<br />
                              No setup fees<br />
                              7 days a week.<br />
                              Monthly reports<br />
                              4 social media platforms<br />
                              Content creation<br />
                              Content calendar<br />
                              Social media strategy.<br />
                              Dedicated social media team<br />
                              20 posts.<br />
                              Target audience building<br />
                              Reputation management
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid mobhidplz">
                  <div
                    class="mobhidplz wpb_column vc_column_container vc_col-sm-4"
                  >
                    <div class="vc_column-inner vc_custom_1591690228996">
                      <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 10px;">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1591690175177">
                      <div class="wpb_wrapper">
                        <a
                          itemprop="url"
                          href="#"
                          target="_self"
                          class="qodef-btn qodef-btn-medium qodef-btn-solid ssmbooking"
                        >
                          <span class="qodef-btn-text">GET QUOTATION</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div
                    class="mobhidplz wpb_column vc_column_container vc_col-sm-4"
                  >
                    <div class="vc_column-inner vc_custom_1585802615535">
                      <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 10px;">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div
                  class="vc_row wpb_row vc_row-fluid vc_custom_1585802754443"
                >
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h2 class="qodef-st-title">
                              PAID ADVERTISING
                              <span class="qodef-st-title-emphasize"
                                ><span>PACKAGES</span
                                ><span>PACKAGES</span></span
                              >
                            </h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid bordersection">
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802684196">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 1
                            </h3>
                            <p class="qodef-st-text">
                              1500 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p><strong>Facebook</strong></p>
                            <p>3K Engagements</p>
                            <p>1M Impressions</p>
                            <p>20K Video Views</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802689094">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 2
                            </h3>
                            <p class="qodef-st-text">
                              3000 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p><strong>Facebook, Instagram</strong></p>
                            <p>3K website traffic</p>
                            <p>5K Engagements</p>
                            <p>1M Impressions</p>
                            <p>20K Video Views</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802694651">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 3
                            </h3>
                            <p class="qodef-st-text">
                              5000 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>
                              <strong>Facebook, Instagram &amp; Google</strong>
                            </p>
                            <p>5K website traffic</p>
                            <p>5K Engagements</p>
                            <p>1M Impressions</p>
                            <p>20K Video Views</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid">
                  <div
                    class="mobhidplz wpb_column vc_column_container vc_col-sm-4"
                  >
                    <div class="vc_column-inner vc_custom_1585802611017">
                      <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 32px;">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802525541">
                      <div class="wpb_wrapper">
                        <a
                          itemprop="url"
                          href="#"
                          target="_self"
                          class="qodef-btn qodef-btn-medium qodef-btn-solid pabooking"
                        >
                          <span class="qodef-btn-text">GET QUOTATION</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div
                    class="mobhidplz wpb_column vc_column_container vc_col-sm-4"
                  >
                    <div class="vc_column-inner vc_custom_1585802615535">
                      <div class="wpb_wrapper">
                        <div
                          class="vc_empty_space mobhidplz"
                          style="height: 32px;"
                        >
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div
                  class="vc_row wpb_row vc_row-fluid vc_custom_1585802754443"
                >
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h2 class="qodef-st-title">
                              COMPANY PROFILE
                              <span class="qodef-st-title-emphasize"
                                ><span>PACKAGES</span
                                ><span>PACKAGES</span></span
                              >
                            </h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid bordersection">
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802684196">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 1
                            </h3>
                            <p class="qodef-st-text">
                              2500 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>
                              Max 15 Pages<br />
                              Open Source<br />
                              1 Design Options
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802689094">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 2
                            </h3>
                            <p class="qodef-st-text">
                              5000 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>
                              Max 30 Pages<br />
                              Open Source<br />
                              3 Design Options<br />
                              Hyperlink pages
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802694651">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 3
                            </h3>
                            <p class="qodef-st-text">
                              7000 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>
                              50+ Pages<br />
                              Open Source<br />
                              3 Design Options<br />
                              Hyperlink pages<br />
                              Print version
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid">
                  <div
                    class="mobhidplz wpb_column vc_column_container vc_col-sm-4"
                  >
                    <div class="vc_column-inner vc_custom_1591690459000">
                      <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 32px;">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802525541">
                      <div class="wpb_wrapper">
                        <a
                          itemprop="url"
                          href="#"
                          target="_self"
                          class="qodef-btn qodef-btn-medium qodef-btn-solid cprbooking"
                        >
                          <span class="qodef-btn-text">GET QUOTATION</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div
                    class="mobhidplz wpb_column vc_column_container vc_col-sm-4"
                  >
                    <div class="vc_column-inner vc_custom_1591690464210">
                      <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 32px;">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div
                  class="vc_row wpb_row vc_row-fluid vc_custom_1585802754443"
                >
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h2 class="qodef-st-title">
                              LOGO DESIGN
                              <span class="qodef-st-title-emphasize"
                                ><span>PACKAGES</span
                                ><span>PACKAGES</span></span
                              >
                            </h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid bordersection">
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802684196">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 1
                            </h3>
                            <p class="qodef-st-text">
                              1500 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>3 Options</p>
                            <p>Source</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802689094">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 2
                            </h3>
                            <p class="qodef-st-text">
                              2500 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>
                              5 Options<br />
                              Source and fonts<br />
                              Color palette
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802694651">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 3
                            </h3>
                            <p class="qodef-st-text">
                              5000 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>
                              Unlimited options<br />
                              Source and fonts<br />
                              Color palette<br />
                              Mockups<br />
                              Logo guidline
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid">
                  <div
                    class="mobhidplz wpb_column vc_column_container vc_col-sm-4"
                  >
                    <div class="vc_column-inner vc_custom_1585802611017">
                      <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 32px;">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802525541">
                      <div class="wpb_wrapper">
                        <a
                          itemprop="url"
                          href="#"
                          target="_self"
                          class="qodef-btn qodef-btn-medium qodef-btn-solid ldbooking"
                        >
                          <span class="qodef-btn-text">GET QUOTATION</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div
                    class="mobhidplz wpb_column vc_column_container vc_col-sm-4"
                  >
                    <div class="vc_column-inner vc_custom_1585802615535">
                      <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 32px;">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div
                  class="vc_row wpb_row vc_row-fluid vc_custom_1585802754443"
                >
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h2 class="qodef-st-title">
                              BRAND GUIDELINE
                              <span class="qodef-st-title-emphasize"
                                ><span>PACKAGES</span
                                ><span>PACKAGES</span></span
                              >
                            </h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid bordersection">
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802684196">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 1
                            </h3>
                            <p class="qodef-st-text">
                              4000 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>
                              Max 15 Pages<br />
                              Branded logo<br />
                              Color palette<br />
                              Logo sizes<br />
                              Typography
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802689094">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 2
                            </h3>
                            <p class="qodef-st-text">
                              8000 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>
                              Max 20 Pages<br />
                              Branded logo<br />
                              Color palette<br />
                              Logo sizes<br />
                              Typography<br />
                              Social work guide<br />
                              Digital work guide<br />
                              Print Work guide
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802694651">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 3
                            </h3>
                            <p class="qodef-st-text">
                              12000 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>
                              Max +50 Pages<br />
                              Branded logo<br />
                              Color palette<br />
                              Logo sizes<br />
                              Typography<br />
                              Social work guide<br />
                              Digital work guide<br />
                              Print Work guide<br />
                              Stationery<br />
                              Outdoor guide<br />
                              Paper guide<br />
                              Brandbook Print version
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid">
                  <div
                    class="mobhidplz wpb_column vc_column_container vc_col-sm-4"
                  >
                    <div class="vc_column-inner vc_custom_1585802611017">
                      <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 32px;">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802525541">
                      <div class="wpb_wrapper">
                        <a
                          itemprop="url"
                          href="#"
                          target="_self"
                          class="qodef-btn qodef-btn-medium qodef-btn-solid brandguidbooking"
                        >
                          <span class="qodef-btn-text">GET QUOTATION</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div
                    class="mobhidplz wpb_column vc_column_container vc_col-sm-4"
                  >
                    <div class="vc_column-inner vc_custom_1585802615535">
                      <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 32px;">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div
                  class="vc_row wpb_row vc_row-fluid vc_custom_1585802754443"
                >
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h2 class="qodef-st-title">
                              WEB SOLUTIONS
                              <span class="qodef-st-title-emphasize"
                                ><span>PACKAGES</span
                                ><span>PACKAGES</span></span
                              >
                            </h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid bordersection">
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802684196">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 1
                            </h3>
                            <p class="qodef-st-text">
                              3000 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>No. Of Pages (5-7)</p>
                            <p>Mobile Responsive Layout</p>
                            <p>SEO Friendly</p>
                            <p>Contact Form</p>
                            <p>Google Map Integration</p>
                            <p>Cross Browser Integration</p>
                            <p>CMS (Manage Complete Website)</p>
                            <p>Two Month Free maintenance</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802689094">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 2
                            </h3>
                            <p class="qodef-st-text">
                              7000 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>No. Of Pages (8-12)</p>
                            <p>Mobile Responsive Layout</p>
                            <p>SEO Friendly</p>
                            <p>Contact Form</p>
                            <p>Google Map Integration</p>
                            <p>Cross Browser Integration</p>
                            <p>CMS (Manage Complete Website)</p>
                            <p>Two Month Free maintenance</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802694651">
                      <div class="wpb_wrapper">
                        <div
                          class="qodef-section-title-holder qodef-st-standard"
                        >
                          <div class="qodef-st-inner">
                            <h3 class="qodef-st-title">
                              PACKAGE 3
                            </h3>
                            <p class="qodef-st-text">
                              12000 AED
                            </p>
                          </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>Ecommerce</p>
                            <p>Payment Gateway Integration</p>
                            <p>Shopping Cart</p>
                            <p>Product Detail Page</p>
                            <p>Best Sellers Products</p>
                            <p>Search</p>
                            <p>Responsive Layout</p>
                            <p>Discount Coupon</p>
                            <p>Newsletter</p>
                            <p>Three Month Free maintenance</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="qodef-row-grid-section-wrapper">
              <div class="qodef-row-grid-section">
                <div
                  class="vc_row wpb_row vc_row-fluid vc_custom_1586957014612"
                >
                  <div
                    class="mobhidplz wpb_column vc_column_container vc_col-sm-4"
                  >
                    <div class="vc_column-inner vc_custom_1585802611017">
                      <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 32px;">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner vc_custom_1585802525541">
                      <div class="wpb_wrapper">
                        <a
                          itemprop="url"
                          href="#"
                          target="_self"
                          class="qodef-btn qodef-btn-medium qodef-btn-solid wsbooking"
                        >
                          <span class="qodef-btn-text">GET QUOTATION</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div
                    class="mobhidplz wpb_column vc_column_container vc_col-sm-4"
                  >
                    <div class="vc_column-inner vc_custom_1585802615535">
                      <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 32px;">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
